@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
:root {
    /* Color */
    --white-color: #fff;
    --dark-color: #2E2E2E;
    --primary-color: #E1EEFF;
    --secondary-color: #0360D9;

    /*Font size*/
    --font-size-s: 20px;
    --font-size-n: 21px;
    --font-size-m: 25px;
    --font-size-logo: 32px;
    --font-size-l: 40px;
    --font-size-xl: 48px;
    --font-size-xxl: 64px;

    /* Font weight */
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* Site max width */
    --max-width: 1920px;

    /*Border radius*/
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle:50%;
}
.btn {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--text-dark);
    transition: 0.3s;
    cursor: pointer;
}
.btn:hover {
    background-color: var(--text-light);
}

img{
    display: flex;
    width: 100%;
}
a{
    text-decoration: none;
    transition: 0.3s;
}
html, body{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
body{
    padding-top: 100px;
}
/* Nav Start*/
.navbar{ 
    min-height: 100px;
    width: 100%;
    align-items: center;
    background-color: var(--primary-color);
    z-index: 1000;

}
.logo{
    max-width: 10%;
    flex-shrink: 0;
    margin-left: 50px;
}
.navbar .nav_link{
    gap: 30px;
    margin-right: 50px;
    display: flex;
}
.nav_link a , .nav_link div, .nav_link div button{
    font-size: 18px;
    color: var(--text-color);
    font-weight: 500;
    text-decoration: none;
    transition:  0.3s;
}
.nav_link div button{
    background-color: transparent;
}
.nav_link a:hover{
    color: #0066d9;
    text-decoration: underline;
}
/* Nav End*/

header {
    background-color: var(--primary-color);
    padding-block: 5rem 4rem;
    display: grid;
    position: relative;
    isolation: isolate;
}
.header__image{ 
    height: 100%;
    background-image: url(/Img/header.png);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 15rem;
}
.header__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: center;
    text-align: left;
    max-width: 600px;
    gap: 10px;
    text-align: center;
    padding-inline: 1rem;
    padding-block: 2rem 22rem;
}
.header__content .logo-image{
    display: flex;
    align-items: center;
    max-width: 275px;
    height: auto;
}
.header__content img{
   transform: scale(1);
}
.header__content h1 {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    line-height: 1.3rem;
    color: #021526;
    margin-bottom: 0.5rem;
    text-align: center;
}
header label {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-dark);
}
header form {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 900px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem 1rem;
    background-color: transparent;
}
/* Search bar */
.search-bar-wrapper {
    display: flex;
    justify-content: center;  /* Căn giữa theo chiều ngang */
    align-items: center;      /* Căn giữa theo chiều dọc (nếu cần) */
    width: 100%;              /* Chiếm toàn bộ chiều rộng */
    margin-top: 2rem;         /* Khoảng cách với phần trên */
}
.search-bar{
    display: flex;
    align-items: center;
    border-radius: var(--border-radius-s);
    overflow: hidden;
    width: 590px;
    height: 80px;
    box-shadow: 0px 5px 50px var(--white-color);
}
.search-input{
    border-top-left-radius: var(--border-radius-m) ;
    border-bottom-left-radius: var(--border-radius-m);
    border: none;
    padding: 20px;
    font-size: var(--font-size-m);
    outline: none;  
    flex: 1;
    height: 100%;
    box-shadow: 0px 5px 50px var(--white-color);
}
.search-button{
    background-color: var(--secondary-color);
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 0 var(--border-radius-m) var(--border-radius-m) 0;
    cursor: pointer;
    height: 100%;
}
.search-button:hover{
    background-color: #0047AB;
}
/* Search bar end*/
/* Category Start*/
.category{
    background-color: var(--secondary-color);
}
.category__container{
    position: relative;
    isolation: isolate;
}
.category__flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
}
.category__card{
    color: var(--white-color);
    padding: 2rem;
    transition: 0.3s;
}
.category__card:hover{
    background-color: var(--primary-color);
}
.category__card img{
   max-width: 50px;
   margin-inline: auto;
   margin-bottom: 1rem;
}
.category__card p{
    max-width: 100px;
    margin-inline: auto;
    text-decoration-color: whitesmoke;
}
/* Category End*/
/* Category-Display*/
.category__display__container {
    display: none;
}
.category__display__container.active {
    display: block;
}
.category__display{
    background-color: white;
    margin-top: 2rem;
    align-items: center;
}
.category__display__container{
    position: relative;
    margin-left: 10rem;
    margin-right: 10rem;
    background-color: var(--primary-color);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 8rem;
}
.category__display__content{
    line-height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    background: white;
    padding: 15px 20px;
    border-radius: 8px;
    max-width: 35%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* Category-Display End*/
/*Product Start*/
#product1{
    text-align: center;
    font-size: 30px;
    margin-top: 60px;
    line-height: 1.5;
}
#product1 .ri-star-fill{
    color: #f1c40f;
}
#product1 .pro-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
#product1 .pro-card{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #e0e0e0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 50px 0;
    transition: 0.2s ease;
} 
#product1 .pro-card:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);

}
#product1 .pro-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
}
#product1 .pro-card h5{
    font-size: 20px;
    margin: 10px 0;
    color: #333;
    opacity: 0.9;
}
/*Product End*/

/*Feedback Start*/
.feedback__container {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 5rem; /* Thêm khoảng cách cho cân đối */
}
.feedback__content h1 {
    max-width: 500px;
    margin-top: 3em;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}
.feedback__content h1 span {
    color: var(--secondary-color); /* Chỉnh màu chữ "Task" thành xanh */
}
.feedback__content .feedback__image1 {

    width: 500px; /* Độ rộng card */
    display: flex;
    max-width: 90%;
    height: auto;
    align-items: center;
}
.feedback__content .feedback__image2 {
    width: 600px; /* Độ rộng card */
    max-width: 90%;
    height: auto;
    border-radius: 20px; /* Bo tròn góc như hình */
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1); /* Thêm hiệu ứng đổ bóng */
}

.feedback__content{
    display: flex;
    align-items: flex-start; /* Căn trái */
    gap: 1.5rem;
}
/*Feedback End*/
/*Footer Start*/
.footer {
    background-color: #0066d9;
    color: white;
    padding: 20px 0;
    margin-top: 50px;
}
.container-main{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.footer-container {
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
    margin-left: 70px;
    padding: 20px;
    text-align: left;
    max-height: fit-content;
}
.footer-app h5{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    font-size: 20px;
  }
.footer-app p{
    font-weight: 200;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    max-width: 500px;
    margin-top: 5px;
}
.social-icons p{
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}
.footer .footer-address {
    display: flex;
}
.social-icons {
    display: flex;
}
.social-icons a img {
    width: 40px;
    height: 40px;
    margin: 0 15px;
  }
.app-links {
    display: flex;  
    flex-wrap: nowrap;  
    gap: 20px; /* Khoảng cách giữa 2 hình ảnh */
    margin-top: -50px;
}
#appstore {
    width: 200px;
    height: 200px;
    object-fit: contain;
}
#googleplay {
    margin-top: -25px;
    height: 250px;
    width: 250px;     /* Giữ tỉ lệ tự động; nếu cần, bạn có thể đặt width cố định để cả 2 trùng nhau */
    object-fit: contain; /* Giúp hình ảnh không bị méo */
}
.footer-address{
    flex: 2;
    height: fit-content;
    padding-left: 300px;
    margin: 0;;
  }
.footer-address a {
    margin-left: 10px;
    color: white;
  }
  
.footer-address a:hover{
    color: black;
  }
hr {
    border: 0;
    height: 1px;
    background-color: white;
    width: 80%;
    margin: 20px auto;
  }
.footer-text {
    font-size: 14px;
    text-align: center;
}
/*Footer End*/
@media (width > 540px){
    .header__image{
        min-height: 20rem;
    }
    .header__content {
        padding-block: 2rem 6rem;
    }
    header form{
        flex-direction: row;
    }
}
@media (width > 768px){
nav {
    position: static;
    padding: 2rem 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--primary-color);
}
.nav__header {
    flex: 1;
    padding: 0;
    background-color: var(--primary-color);
}

.nav__logo a {
    font-size: 1.55em;
}

.nav__menu__btn {
    display: none;
  }

.nav__links {
    position: static;
    width: fit-content;
    padding: 0;
    flex-direction: row;
    background-color: var(--primary-color);
    transform: none !important;
}

.nav__links a:hover {
    color: var(--text-light);
  }
header {
    display: grid;
    padding-top: 0;
    grid-template-columns:
      minmax(0, 1fr)
      minmax(0, calc(var(--max-width) / 2))
      minmax(0, calc(var(--max-width) / 2))
      minmax(0, 1fr);
    align-items: center;
}

.header__image {
    grid-area: 1/3/2/5;
    min-height: 30rem;
    border-top-left-radius: 100%;
  }

.header__content {
    grid-column:2/3;
    padding-block:6rem 12rem;
  }
.header__content h1 { 
    text-align: left;
  }
}

/* User Dropdown List */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    /*float: right;*/
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
    