<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar .navbar-expand-lg fixed-top">
        <img class="logo" src="/Img/Group 30.svg" alt="Logo">
            <div class="nav_link">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/service">Service</a>
                <a href=/login id="Login_Link">Login</a>
                <a href="/signup" id="Sign_up_Link">Signup</a>
                <button class="btn btn-primary" id="Become_Tasker"><a href="/become-tasker" class="text-light text-decoration-none">Become Tasker</a></button>
                <!-- class="dropdown"-->
                <div id="user_dropdown_only">
                    <button onclick="myFunction()">Tùy chọn▼</button>
                    <div id="myDropdown" class="dropdown-content">
                      <a href="/user/info">Xem thông tin cá nhân</a>
                      <a href="/user/change-info">Thay đổi thông tin cá nhân</a>
                      <a href="/user/change-password">Thay đổi mật khẩu</a>
                      <a href="/user/task-list">Xem các task đã đặt</a>
                      <a href="/logout">Đăng xuất</a>
                    </div>
                </div>
            </div>
    </nav>
<header id = "header">
    <div class ="header__image"></div> 
    <div class ="header__content">
        <h1>Tìm kiếm và tham gia </h1>
        <img src = "/Img/Group 30.svg" alt = "Logo" class="logo-image">
    </div>
    <form action = "/">
        <div role = "search" class = "search-bar-wrapper">
            <div class = "search-bar">
                <input type="text" class="search-input" placeholder="Tìm kiếm công việc">
                <button class="search-button">
                    <img src = "/Img/Vector.png" alt = "search">
                </button>
            </div>
    </from>
</header>
<section class = "category" id = "category">
    <div class = "category__container" category__container>
        <div class = "category__flex">
            <div class = "category__card" data-target ="display-vanchuyen">
                <img src="/Img/icons8-truck-50 1.svg" alt="category"/>
                <p>Vận chuyển</p>
            </div>
            <div class = "category__card" data-target="display-laprap">
                <img src="/Img/icons8-fix-50 (1) 1.svg" alt="category"/>
                <p>Lắp ráp<p>
            </div>
            <div class = "category__card" data-target="display-caycanh">
                <img src="/Img/icons8-tree-64 1.svg" alt="category"/>
                <p>Cây cảnh</p>
            </div>
            <div class = "category__card" data-target="display-sonnha">
                <img src="/Img/icons8-painting-50 1.svg" alt="category"/>
                <p>Sơn nhà<p>
            </div>
            <div class = "category__card" data-target="display-khoanduc">
                <img src="/Img/icons8-drill-50 1.svg" alt="category"/>
                <p>Khoan đục<p>
            </div>
            <div class = "category__card" data-target="display-dondep">
                <img src="/Img/icons8-clean-64 1.svg" alt="category"/>
                <p>Dọn dẹp<p>
            </div>
        </div>
    </div>
</section>
<section class ="category__display" id = "category__display">
   <div class = "category__display__container" id ="display-laprap" >
       <img src = "/Img/istockphoto-490077888-612x612.svg" alt = "category_img" class = "category__display__image">
           <div class = "category__display__content">
              <h3>Lắp ráp</h3>
                <ul>
                    <li> - Lắp ráp tháo rời các món đồ nội thất, bao gồm tủ quần áo, giường kề TV và nhiều hơn thế</li>
                    <li> - Xu hướng: Lắp ráp ghế, bàn máy tính, vật liệu</li>
                </ul>
            </div>
    </div>
    <div class = "category__display__container" id = "display-vanchuyen">
        <img src = "/Img/istockphoto-490077888-612x612.svg" alt = "category_img" class = "category__display__image">
            <div class = "category__display__content">
               <h3>Vận chuyển</h3>
                 <ul>
                     <li> - Hỗ trợ di chuyển như đóng gói tháo dỡ, chất hàng và nâng vật nặng.</li>
                     <li> - Xu hướng hiện nay: Di chuyển từng món đồ, di chuyển căn hộ và dọn rác.</li>
                 </ul>
             </div>
     </div>
     <div class = "category__display__container" id = "display-sonnha">
        <img src = "/Img/istockphoto-490077888-612x612.svg" alt = "category_img" class = "category__display__image">
            <div class = "category__display__content">
               <h3>Sơn nhà</h3>
                 <ul>
                     <li> Sơn tường, trần nhà, khuôn và cửa; bao gồm cả khâu chuẩn bị và dọn dẹp.</li>
                     <li> Xu hướng hiện nay: Khối màu, chi tiết sọc và màu sắc nổi bật.</li>
                 </ul>
             </div>
     </div>
</section>
<section id = "product1" class = "section-p1">
    <i class="ri-star-fill"></i>
    <h2>Dịch vụ thịnh hành</h2>
    <p>Những dịch vụ phổ biến nhất với khách hàng</p>
    <div class ="pro-container">
        <div class = "pro-card">
            <img src = "/Img/Dọn tiệc.svg" alt = "product" >
            <div class = "pro-content">
                <h5>Dọn tiệc</h5>
            </div>
        </div>
        <div class = "pro-card">
            <img src = "/Img/chăm cây.svg" alt = "product" >
            <div class = "pro-content">
                <h5>Chăm sóc cây cảnh</h5>
            </div>
        </div>
        <div class = "pro-card">
            <img src = "/Img/Trang trí nhà.svg" alt = "product" >
            <div class = "pro-content">
                <h5>Trang trí nhà cửa</h5>
            </div>
        </div>
        <div class = "pro-card">
            <img src = "/Img/Giặt giũ.svg" alt = "product" >
            <div class = "pro-content">
                <h5>Giặt giũ</h5>
            </div>
        </div>
        <div class = "pro-card">
            <img src = "/Img/Lau dọn nhà.svg" alt = "product" >
            <div class = "pro-content">
                <h5>Lau dọn nhà</h5>
            </div>
        </div>
        <div class = "pro-card">
            <img src = "/Img/vệ sinh cửa kính.png" alt = "product" >
            <div class = "pro-content">
                <h5>Lau cửa kính</h5>
            </div>
        </div>
        <div class = "pro-card">
            <img src = "/Img/Homepage_YardWork.webp" alt = "product" >
            <div class = "pro-content">
                <h5>Dọn dẹp cỏ vườn</h5>
            </div>
        </div>
        <div class = "pro-card">
            <img src = "/Img/how-to-change-a-light-fitting.webp" alt = "product" >
            <div class = "pro-content">
                <h5>Sửa đồ điện</h5>
            </div>
        </div>
    </div>
</section>
<section id = "feedback" class = "section-p2">
    <div class = "feedback__container">
        <div class = "feedback__content">
            <div class = "feedback__content__left">
                <h1>Đánh giá từ khách hàng về Home-<span>Task</span></h1>
                <img src ="/Assest/Frame 1.svg" alt = "feedback" class = "feedback__image1">
            </div>
            <img src ="/Assest/Group 15.svg" alt = "feedback" class="feedback__image2">
        </div>
    </div>
</section>
<footer class="footer">
    <div class ="container-main">
        <div class="footer-container">
            <div class="footer-main">
                <div class="social-icons">
                    <p>Hãy theo dõi chúng tôi !</p>
                    <a href="https://www.linkedin.com/"><img src="/FooterAssest/icons8-linkedin-50 1.svg" alt="LinkedIn"></a>
                    <a href="https://www.instagram.com/"><img src="/FooterAssest/icons8-instagram-logo-50 1.svg" alt="Instagram"></a>
                    <a href="https://www.facebook.com/"><img src="/FooterAssest/icons8-facebook-logo-50 1.svg" alt="Facebook"></a>
                </div>

                <div class="footer-app">
                    <h5>Tải ứng dụng của chúng tôi !</h5>
                    <p>Xử lý công việc cần làm của bạn với ứng dụng của chúng tôi.</p>
                    <div class="app-links">
                        <a><img src="/FooterAssest/pngwing.com 1.svg" alt="App Store" id ="appstore"></a>
                        <a><img src="/FooterAssest/pngwing.com (1) 1.svg" alt="Google Play" id = "googleplay"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-address">
                <p><strong>Địa chỉ:</strong></p>
                <a href="https://maps.app.goo.gl/hCHZG71dhwLz2tvo8">Km10, Đường Nguyễn Trãi, Q. Hà Đông, Hà Nội</a>
        </div>
    </div>
    <hr>
    <p class="footer-text">2025 All Right Reserved</p>
</footer>  
<script  src = "/JS/sever.js";> </script>
<script src="https://unpkg.com/scrollreveal"></script>
</body>
</html>