<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service</title>
    <link href="/css/servicepage.css" rel="stylesheet" />
        <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar .navbar-expand-lg fixed-top">
        <img class="logo" src="/Img/Group 30.svg" alt="Logo">
            <div class="nav_link">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/service">Service</a>
                <a href=/login>Login</a>
                <a href="/signup">Signup</a>
                <button class="btn btn-primary"><a href="/become-tasker" class="text-light text-decoration-none">Become Tasker</a></button>
                <!-- class="dropdown"-->
                <div>
                    <button onclick="myFunction()" class="user-button">Tùy chọn▼</button>
                    <div id="myDropdown" class="dropdown-content-user">
                      <a href="/user/info">Xem thông tin cá nhân</a>
                      <a href="/user/change-info">Thay đổi thông tin cá nhân</a>
                      <a href="/user/change-password">Thay đổi mật khẩu</a>
                      <a href="/user/task-list">Xem các task đã đặt</a>
                      <a href="/logout">Đăng xuất</a>
                    </div>
                </div>
            </div>
    </nav>
    <div class="header-img">
        <p>Danh sách việc cần làm của bạn<br>Là công việc của chúng tôi.</p>
    </div>
    <div id="simple-title">
        <p>Thuê một tasker đáng tin cậy ngay bây giờ</p>
    </div>
    <div class="task-grid">
        <% for (val of services) {%>
        <div class="task-card">
            <img src="/Img/image 2.png" alt="Task Image">
            <div class="task-info">
                <h3><%= val.group_name %></h3>
                <p>Hãy để tasker xử lý danh sách việc cần làm của bạn</p>
                <dl>
                    <% for (service of val.Services) {%>
                        <a href="/service/<%= service.service_id %>"><dt><%= service.name %></dt></a>
                    <% } %>
                </dl>
            </div>
        </div>
        <% } %>
    </div>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-social-app-link">
                <div class="social-icons">
                    Hãy theo dõi chúng tôi
                    <a href="https://www.linkedin.com/"><img src="/Img/icon-linkedin.svg" alt="LinkedIn"></a>
                    <a href="https://www.instagram.com/"><img src="/Img/icon-instagram.svg" alt="Instagram"></a>
                    <a href="https://www.facebook.com/"><img src="/Img/icon-facebook.svg" alt="Facebook"></a>
                </div>
                <div class="footer-app">
                    <p><strong>Tải ứng dụng của chúng tôi</strong></p>
                    <p>Xử lý công việc cần làm của bạn với ứng dụng của chúng tôi.</p>
                    <div class="app-links">
                        <a><img src="/Img/icon-appstore.svg" alt="App Store"></a>
                        <a><img src="/Img/icon-ggplay.svg" alt="Google Play"></a>
                    </div>
                </div>
            </div>
            <div class="footer-address">
                <p><strong>Địa chỉ</strong></p>
                <a href="https://maps.app.goo.gl/hCHZG71dhwLz2tvo8">Km10, Đường Nguyễn Trãi, Q. Hà Đông, Hà Nội</a>
            </div>
        </div>
        <hr>
        <p class="footer-text">2025 All Right Reserved</p>
    </footer>   
    <script src="/js/"></script>
</body>
</html>