<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/step3.css" rel="stylesheet" />
    <script>
        function redirect()
        {
            window.location.href="/html/servicepage.html";
        }
    </script>
    <title>Tham khảo Tasker và giá</title>
</head>
<body>
    <div class="logo">Home-<span>Task</span></div>
    <div class="confirmed_page">
        <h1>Bạn đã đặt Tasker thành công</h1>
        <button class="return-homepage" onclick="redirect()">Quay về trang chủ</button>
    </div>
</body>
</html>